/* header */
@import "var.scss";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 2px $mediumDarkGrey;
    margin-bottom: 2px;
}

.logo__header {
    text-align: center;
    width: 75%;
}

.logo__header {
    img {
        width: 75%;
        height: auto;
    }
}

.header__link {
    text-decoration: none;
    color: $black;
}
