@media screen and (min-width: 992px) {
    /* section */

    .main__section__card__block-img {
        img {
            height: 350px;
        }
    }

    .main__section__card__container__container-menu {
        display: flex;
        justify-content: space-around;
    }

    .main__section__card__container__container-menu__item__container {
        width: 280px;
    }
}
