@import "var.scss";

body {
    margin: 0px;
    font-family: $roboto, $sansSerif;
}

.main__section__card {
    margin: 0;
}

.main__section__card__block-img {
    width: 100%;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.main__section__card__container {
    margin-top: -30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 20px;
    background-color: $lightGrey;
    position: relative;
}

.main__section__card__container__block-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section__card__container__block-heading__button__heart-icon-regular {
    color: $white;
    fill: currentColor;
    stroke: $black;
    stroke-width: 10px;
}

.main__section__card__container__block-heading__button__heart-icon-regular svg {
    width: 20px;
    height: auto;
}

.main__section__card__container__block-heading__button__heart-icon-regular:hover {
    cursor: pointer;
    stroke: $purple;
    color: $purple;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        color: $pink;
    }
    100% {
        opacity: 1;
        color: $purple;
    }
}
