/* color */

/* three primary colors */
$secondary: #ff79da;
$tertiary: #99e2d0;
$primary: #9356dc;
/* others colors */
$lightGrey: #f6f6f6;
$mediumGrey: #eaeaea;
$mediumDarkGrey: #cfcfcf;
$darkGrey: #7e7e7e;
$mediumSecondary: #d96ddb;
$mediumPrimary: #b360db;
$lightPrimary: #f5edff;
$mediumBlack: #353535;
$black: #000;
$white: #fff;
$mediumTertiary: #2ca185;
/* font */
$generalFont1: "Roboto";
$generalFont2: sans-serif;
$secondaryFont1: "Shrikhand";
$secondaryFont2: cursive;
