/* color */
$lightGrey: #f6f6f6;
$mediumGrey: #eaeaea;
$darkGrey: #7e7e7e;
$pink: #ff79da;
$purple: #9356dc;
$lightPurple: #f5edff;
$mediumBlack: #353535;
$black: #000;
$white: #fff;
$lightGreen: #99e2d0;
$green: #2ca185;
/* font */
$roboto: "Roboto";
$sansSerif: sans-serif;
$shrikhand: "Shrikhand";
$cursive: cursive;
