/* color */
/* three primary colors */
/* others colors */
/* font */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* page loader */
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: page-loader;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes page-loader {
  0% {
    background-color: #fff;
    z-index: 1;
  }
  65% {
    background-color: #fff;
    z-index: 1;
  }
  100% {
    background-color: transparent;
    z-index: -1;
  }
}
.page-loader__loader {
  border: 16px solid #ff79da;
  border-radius: 50%;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #9356dc;
  width: 120px;
  height: 120px;
  animation-name: loader;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/* main */
/* search bar */
.form {
  text-align: center;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: -1px -1px -5px #cfcfcf;
}

.form input[type=search] {
  border: none;
  background-color: #eaeaea;
  text-align: center;
  width: 140px;
}
.form input[type=search]::placeholder {
  font-weight: bold;
  color: #000;
}

/* section section-presentation */
.main__section-presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f6f6f6;
}

.main__section-presentation__link-button {
  display: block;
  text-decoration: none;
  border-radius: 30px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  box-shadow: 1px 1px 10px #7e7e7e;
  padding: 20px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.main__section-presentation__link-button:hover {
  box-shadow: 3px 3px 12px #7e7e7e;
}

/* section functionning */
.main__section-functioning {
  padding: 20px;
}

.main__section-functioning__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__section-functioning__container__item {
  display: inline-flex;
  align-items: baseline;
}

.main__section-functioning__container__item__bubble {
  position: relative;
  left: 20px;
  padding: 5px;
  background-color: #9356dc;
  border-radius: 50px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main__section-functioning__container__item__link-button {
  display: block;
  text-decoration: none;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 10px #eaeaea;
  width: 250px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.main__section-functioning__container__item__link-button__icon-button {
  margin-left: 16px;
  margin-right: 16px;
  color: #7e7e7e;
}

.main__section-functioning__container__item__link-button:hover {
  background-color: #f5edff;
  box-shadow: 10px 10px 20px #eaeaea;
}

.main__section-functioning__container__item :hover .main__section-functioning__container__item__link-button__icon-button {
  color: #9356dc;
}

/* section-restaurants */
.main__section-restaurants {
  padding: 20px;
  background-color: #f6f6f6;
}

.main__section-restaurants__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__section-restaurants__container__link {
  display: block;
  text-decoration: none;
  color: #000;
}

.main__section-restaurants__container__link__card {
  background-color: #fff;
  box-shadow: 5px 5px 10px #eaeaea;
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
}

.main__section-restaurants__container__link__card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.main__section-restaurants__container__link__card__tooltip {
  background-color: #99e2d0;
  color: #2ca185;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main__section-restaurants__container__link__card__container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__section-restaurants__container__link__card__container__text__heading {
  margin: 0px;
}

.main__section-restaurants__container__link__card__container__text__place {
  margin-top: 5px;
}

.main__section-restaurants__container__link__card__container__heart-icon {
  color: #fff;
  fill: currentColor;
  stroke: #000;
  stroke-width: 10px;
}

.main__section-restaurants__container__link__card__container__heart-icon svg {
  width: 20px;
  height: 16px;
}

.main__section-restaurants__container__link__card__container__heart-icon:hover {
  cursor: pointer;
  stroke: #9356dc;
  color: #9356dc;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    color: #ff79da;
  }
  33% {
    opacity: 0.33;
    color: #d96ddb;
  }
  66% {
    opacity: 0.66;
    color: #b360db;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}

/*# sourceMappingURL=index.css.map */
